body {
    padding-left: 10vw;
    padding-right: 11.5vw;
}

/* Floating btn */

#floating_btn_container {
    position: fixed;
    right: 95px;
    bottom: 25px;
    z-index: 100000;
}

.floating_btn_option {
    position: absolute;
    padding: 18px;
    padding-bottom: 15px;
    margin-left: 8px;
    margin-bottom: 15px;
    background: rgb(241, 241, 241);
    border-radius: 37px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    z-index: 999;

    bottom: 0;
    opacity: 0;
}

#floating_btn_trigger {
    position: absolute;
    bottom: 0;
    padding: 23px;
    background: white;
    border-radius: 37px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    z-index: 1000;
    -webkit-tap-highlight-color: transparent;
}

.ph-list {
    transition: all 0.2s;
    font-size: 140%;
}

.open_rotate {
    transform: rotate(90deg);
}

/* Man */

#man_container {
    height: 283px; /* thats a nono */
}

.man_img_container { /* thats an even bigger nono */
    position: absolute;
    left: 0;
    padding-left: 10vw;
    top: 38%;
    width: 90vw;
    height: 420px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.man {
    height: 100%;
    height: 283px;
}

#man_blur {
    filter: blur(29px);
    margin-top: 3vw;
}