/* Girl blur */

#girl_blur_container {
  overflow: hidden;
  height: 100vh;
}

#girl_blur {
  filter: blur(5px) brightness(115%);
  height: 100%;
  margin-left: -455px;
}

/* Girl */

#girl_container {
  position: absolute;
  overflow: hidden;
  height: 95vh;
  width: 88vw;

  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

#girl {
    height: 100%;
    margin-left: -430px;
}

/* Content and overlay */

#content {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 10vw;
    margin-bottom: 15vw;
}

#black_overlay {
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0,0,0,0.34) 0%, rgba(0,0,0,0) 100%);
    width: 100%;
    height: 50%;
}

/* Local text styles */

#subheader {
    font-family: "Roboto Light", sans-serif;
    color: #EDEDED;
    opacity: 0.6;
    font-size: 20px;
    margin: 0;
}

#header {
    font-family: "Playfair Display", serif;
    font-size: 400%;
    font-size: 53px;
    color: white;
    margin-bottom: 14vw;
    margin-top: 1vw;
    line-height: 115%;
}

/* Button */

#button {
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 22px;
    width: 107px;
    height: 53px;
    cursor: pointer;
    transform: scale(0.9);
    -webkit-tap-highlight-color: transparent;
}

.ph-arrow-right {
    font-size: 200%;
    color: white;
    opacity: 0.92;
    left: 10%;
    transition: all 0.2s;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#button:hover > .ph-arrow-right {
    left: 57%;
}